doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css')
  title RegisterFO
  style.
    form{
    background-color: azure;
    }
    .card {
    border-radius: 130px;
    margin-bottom: 20px;
    }
    .h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-small;
    }
    .image {
    background-image: url("/image/farmland.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */
    /* You must set a specified height */
    background-position: relative;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    }
    header{
    text-align: center ;
    font-style: italic;
    padding-top: 10px;
    }
// nav starts Here
div(w3-include-html='/includes/navbar.html')
// nav bar ends here
.image
  header
    h6 Note:This form is to be filled in by the agricultural officer 
  .row.justify-content-center
    .col-md-6
      .card(style='position: relative;')
        .card-body
          form#regform(action='/fOneRegister' onsubmit='return validate (event)' method='post')
            .form-group
              label First name:
              input#fName.form-control(type='text' name='firstname')
              small#fNameErr
            .form-group
              label Second name:
              input#sName.form-control(type='text' name='secondname')
              small#sNameErr
            .form-group
              label Date of birth:
              input#db.form-control(type='date' name='dob')
              small#dbErr
            .form-group
              label Gender:
              label.form-check.form-check-inline
                input#male.form-check-input(type='radio' name='gender' value="male")
                span Male
              label.form-check.form-check-inline
                input#female.form-check-input(type='radio' name='gender' value="female")
                span Female
              small#gndErr
            .form-group
              label Phone number:
              input#pNum.form-control(type='text' name='phonenumber')
              small#pNumErr
            .form-group
              label NIN:
              input#nin.form-control(type='text' name='NIN')
              small#ninErr
            .form-group
              label Address
              input#adr.form-control(type='text' name='address')
              small#adrErr
            .form-group
              label Residence type:
              input#rT.form-control(type='text' name='residencetype')
              small#rTErr
            .form-group
              label Years spent in the area:
              input#tsa.form-control(type='number' name='time')
              small#tsaErr
            .form-group
              label Ward:
              input#wd.form-control(type='text' name='ward')
              small#wdErr
            .form-group
              label Activities carried out:
              input#act.form-control(type='text' name='activites')
              small#actErr
            .form-group
              label Date of registration:
              input#dr.form-control(type='date' name='dreg')
              small#drErr
            .form-group
              label Unique number:
              input#uN.form-control(type='number' name='uniquenumber')
              small#uNErr
            .form-group
              label(for='pwd') Password:
              input#pwd.form-control(type='password' name='password')
              small#pwdErr
            .checkbox
              label
                input(type='checkbox')
                |  Remember me
            button#submit.btn.btn-primary.btn-block Submit
  // footer starts here
  div(w3-include-html='/includes/footer.html')
  // footer ends here
script(src='/bootstrap/js/bootstrap.js')
script(src='/validate/fOnevalidate.js')
script(src='/includes/custom.js')
//
  <script src="bootstrap/js/bootstrap.js"></script>
  <script src="validate.js"></script>
